<header class="header">
    <p>NYC's #1 Meal Prep For Weight Loss</p>
</header>
<nav class="navbar" style="background-color: #f2f5f3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.imgur.com/HF5ftI7.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> 
            Meal Prep NYC
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/keto">Keto Meals</a>
          <a class="nav-link" href="/detox">Detox Meals</a>
          <a class="nav-link" href="about">About</a>
          <a class="nav-link" href="mission">Mission</a>
          <br />
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Meal" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>