<header>
    <p>NYC's #1 Meal Prep For Weight Loss</p>
</header>
<Div class= "nav" id="nav_container">
    <a class="logo-home" href="/"><img class="nav_img" src="https://i.imgur.com/HF5ftI7.jpg" alt="logo" width="80"></a>
    <ul class="items_container">
        <li class="nav_item">
            <a class="localhost:3000">Home</a></li>
        <li class="nav_item">Detox Mealplan</li>
        <li class="nav item">Keto Mealplan</li>
        <li class="nav_item">Teas</li>
        <li class="nav_item">Pill Blends</li>
    </ul>
</Div>