<header class="header">
    <p>NYC's #1 Meal Prep For Weight Loss</p>
</header>
<nav class="navbar" style="background-color: #f2f5f3;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="https://i.imgur.com/HF5ftI7.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"> 
            Meal Prep NYC
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <li>
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li>
          <a class="nav-link" href="#">Meals</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Keto</a></li>
            <li><a class="dropdown-item" href="#">Detox</a></li>
          </ul>
          </li>
          <a class="nav-link" href="/detox">Detox Meals</a>
          <a class="nav-link" href="about">About</a>
          <a class="nav-link" href="mission">Mission</a>
          <br />
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search Meal" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->