<!DOCTYPE html>
<html lang="en">
<head>
    <% include ('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/nav.css">

</head>
<body>
    <%- include ('./partials/nav.ejs') %>
    <div class="heading_background"></div>
    <div class="Seller_point">
        <ul class="seller_point_container">
            <li class="point_item">Fast Delivery</li>
            <li class="point_item">All Organic</li>
            <li class="point_item">non BPA Packaging</li>
        </ul>
    </div>
    <div class="preview_container">
        <h1 class="choose">Choose Your Meal Plan</h1>
        <ul class="preview_items">
            <li class="preview_item">
                <img src="https://i.imgur.com/LoEvbXj.jpg" alt="salmon & asparagus" width="300" height="250">
                <h3>Salmon & Asparagus</h3>
                <a href="/Keto"><button class=preview-button>Complete Keto</button></a>
            </li>
            <li class="preview_item">
                <img src="https://i.imgur.com/FLEtWDL.jpg" alt="mixed veggie and black rice" width="300" height="250">
                <h3>Mixed veggies & Black Rice</h3>
                <a href="/detox"><button class="preview-button">Complete Detox</button></a>
            </li>
        </ul>
    </div>

    
</body>
</html>