

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(39, 38, 38) ;
}
.container-fluid a:hover{
    color: rgb(32, 184, 32);
}
.navbar-nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 0px;
   
   
}
.navbar-brand{
    text-decoration: none;
    color: rgb(32, 184, 32);
}

.header{
    background-color: black;
    height: 40px;
}


.nav-link{
    font-size: 20px;
    text-decoration: none;
    margin: 20px;
    color: rgb(32, 184, 32);
    font-family: 'Rubik Distressed', cursive;
}

.navbar-toggler{
    color: white;
}

.d-flex{
    margin: auto;
}

h3{
    font-size: 22px;
}